.main-view{
	width: 100vw;
    height: 100vh;
    background-image: url('/images/retti_bildschirm.png');
    background-size: contain; /* Behält das Seitenverhältnis bei und skaliert das Bild so, dass es in den Container passt */
    background-position: center;
    background-repeat: no-repeat; /* Verhindert Wiederholung */
    background-color: white; /* Falls das Bild nicht die ganze Fläche füllt */
}
[part='navbar'], [part='drawer'] {
    background-color: var(--lumo-base-color);
    background-clip: border-box;
}